# Postgres Config
POSTGRES_USER=admin
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=pricing_db

# Airflow Config
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=replace_me

# Tor Config - Password for Tor Control Port
TOR_PASSWORD=replace_me

# ProtonVPN Config - ProtonVPN WireGuard Private Key (from Proton account dashboard)
WIREGUARD_PRIVATE_KEY=replace_me